<div class="modal confirmation-modal">
	<header class="modal-header">
		<div class="confirmation-title-ctr">
			<div class="confirmation-icon">❗</div>
			<div class="modal-title">confirmation</div>
		</div>
		<div class="modal-close-icon">✖</div>
	</header>
	<div class="modal-content">
		<div class="confirmation-msg-ctr">
			<span>are you sure you want to</span>
			<span class="confirmation-verb">do</span>
			<span class="confirmation-item">item</span>
			<span>?</span>
		</div>
		<div class="modal-btns">
			<button class="modal-btn cancel">cancel</button>
			<button class="modal-btn action confirmation-modal-confirm-btn" type="submit">confirm</button>
		</div>
	</div>
</div>
